@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&family=Roboto+Condensed&family=Rubik:wght@500&display=swap');

body{
  /* font: bold 36px sans-serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Fredoka One', cursive; */
  font-size: 36px;
  /* font-weight: bold; */
}

.screen{
  /* background-image: linear-gradient(135deg, #6b0505 10%, #3b3232 100%); */
  /* background-image: linear-gradient(135deg, #144332 10%, #0a3c4f 100%); */
  /* background-image: linear-gradient(135deg, #313454 10%, #41294f 100%); */
  /* background-image: linear-gradient(135deg, #313454 10%, #083236 100%); */
  background-color: rgb(43, 41, 69);
  
  /* background-image: linear-gradient(135deg, #646cc5 10%, #1897a3 100%); */
}

.table{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  color: white;
  text-shadow: 4px 4px 8px #000000aa;
  flex-direction: column;
  
  position: absolute;
  top: 70px;
  right: 70px;
  box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  
}

.content{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}


.row:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.147);
}

.row{
  display: flex;
}

.item{
  height: 70px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.true{
  color: rgb(255,178,0);
}

.false{
  color: rgb(255, 255, 255);
}

.categories{
  /* background-color: rgba(15, 36, 94, 0.631); */
  backdrop-filter: contrast(250%) brightness(290%);
  display: flex;
}

.chapter{
  position: absolute;
  top: 60px;
  /* transform: scale(2) translate(50%, 100px); */
  left: 200px;
  color: rgb(255,178,0);
  font-size: 120px;
  text-shadow: 8px 8px 12px #000000aa;
}